<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Internal Server Error</h1>
    <p>Some thing went wrong we are working on it to fix it. Sorry for the inconvience caused</p>

<%- include('includes/end.ejs') %>